{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Főoldal</title>
    <link rel="stylesheet" href="{%static 'app_szulinap/fooldal.css'%}">
</head>
<body>
    {% csrf_token %}
    <header><h1>Közelgő Események</h1></header>
    <main>
    {% for ember in emberek %}
        <a href="profil/{{ ember.id }}/" 
            {% if ember.havi %}
            class="havi"
            {% endif %}
            {% if ember.surgos %}
            class="surgos"
            {% endif %}
            {% if ember.heti %}
            class="heti"
            {% endif %}
            {% if ember.alap%}
            class="alap"
            {% endif %}
        >
            <div>
                <p >{{ ember.becenev }}</p>
                <p>{{ ember.datum }}</p>
            </div>
            {% endfor %}
        </a>
    
    </main>
    <p class="sor">    </p>
    <footer>
        <a href="ujember/"> Ismerős Hozzáadása</a>
    </footer>
</body>
</html>