{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hozzáadtál új embert</title>
    <link rel="stylesheet" href="{%static 'app_szulinap/kuld.css'%}">
</head>
<body>
    {% csrf_token %}
    <header><h1>Sikeresen hozzáadtál új embereket az ismerőseidhez!</h1></header>
    <main>
        <p>Innentől kezdve a főoldalan láthatod az ismerőseidet.</p>

    </main>
    <footer>
        <a href="/"> Vissza a főoldalra!</a>
    </footer>
</body>
</html>