{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ismerős Adatai</title>
    <link rel="stylesheet" href="{%static 'app_szulinap/profil.css'%}">
</head>
<body>
    {% csrf_token %}
    <header>
        <h1>Ismerős Adatai:</h1>
    </header>
    <main>
        <section>
            <h2>Megváltoztathatod az ajándékötletet</h2>
        </section>

            <table>
                <tr>
                    <td>Becenév:</td> 
                    <td>
                        {{ ember.becenev }}
                    </td>
                </tr>
                <tr>
                    <td>Teljes név:</td>
                    <td>
                        {{ ember.teljesnev }}
                    </td>
                </tr>
                <tr>
                    <td>Születésnap:</td>
                    <td>
                        {{ szulinap }}
                    </td>
                </tr>
                <tr>
                    <td>Névnap:</td>
                    <td>
                        {{ nevnap }}
                    </td>
                </tr>
                <tr>
                    <td>Ajándékötlet:</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" name="ajandek" value="{{ ember.ajandek }}" placeholder="Ajándék" />
                            <button type="submit">Mentés</button>
                        </form>
                    </td>
                </tr>
            </table>
        
    </main>
    <footer>
        <table>
            <td>
                <a href="/" class="vissza"> Vissza a főoldalra!</a>
            </td>
            <td>
                <a href="torol/" class="torol">Ismerős Törlése</a>
            </td>
        </table>
        
    </footer>
</body>
</html>