{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ember Hozzáadása</title>
    <link rel="stylesheet" href="{%static 'app_szulinap/ujember.css'%}">
</head>
<body>
    <header><h1>Emberek Hozzáadása</h1></header>
    <a href="/"> Vissza a főoldalra!</a>
    <form action="kuld/" method="POST">
        {% csrf_token %}
        <textarea name="szoveg" id="szoveg"></textarea>
        <button type="submit">Hozzáadás</button>
    </form>
</body>
</html>