*{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

header h1{
    text-align: center;
    padding: 25px;

}

main{
    padding-top: 10px;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    gap: 50px;
    justify-content: center;
}
p{
    color:whitesmoke;
    background-color: rgb(31, 147, 160);
}
div{
    text-align: center;
    padding: 15px;
    background-color: rgb(31, 147, 160);
    border-radius: 5px;
    
}

.sor{
    margin-bottom: 120px;
}

footer{
    position:fixed;
    margin-top: 50px;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    justify-content: center;
    display: grid;
}

main a{
    text-decoration: none;
}

footer a{
    margin: 15px;
    text-decoration: none;
    background-color: rgb(46,188,231);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(46, 188, 231);
    transition: background-color 0.3s ease;
}

footer a:hover {
    background-color: rgb(52, 178, 228);
}

.havi{
    box-shadow: 5px 5px 10px orange;
}
.heti{
    box-shadow: 5px 5px 10px green;
}
.surgos{
    box-shadow: 5px 5px 10px red;
}
.alap{
    box-shadow: 5px 5px 10px rgb(46, 188, 231);
}