*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header {
    font-size: 20px;
    margin-left: 150px;
    padding-top: 60px;

}
h2{
    font-size: 25px;
    margin-left: 153px;
    margin-top: 25px;
}

main table{
    color:whitesmoke;
    margin-left: 150px;
    font-size: 25px;
    padding-top: 50px;
    display: flex;
    justify-content: left;
    text-align: center;
}
main table td{
    
    padding: 10px;
    background-color: rgb(31, 147, 160);
    border-radius: 5px;
}

footer table{
    background-color: white;
}

footer table td{
    background-color: white;
}

footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    justify-content: center;
    display: grid;
}
.vissza{
    color:whitesmoke;
    margin: 15px;
    text-decoration: none;
    background-color: rgb(46,188,231);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(46, 188, 231);
    transition: background-color 0.3s ease;
}
.vissza:hover{
    background-color: #0277bd;
}
.torol{
    color:whitesmoke;
    margin: 15px;
    border: none;
    padding: 25px;
    text-decoration: none;
    background-color: red;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px red; 
    transition: background-color 0.3s ease;
}
.torol:hover {
    background-color: #cc1818;
}

button{
    padding: 3px;
    border-color: whitesmoke;
    height: 30px;
    color: whitesmoke;
    background-color: rgb(31, 147, 160);
    font-size: 0.7em;
}

form{
    background-color: rgb(31, 147, 160);
    color: whitesmoke;
}
input{
    color:whitesmoke;
    background-color: rgb(31, 147, 160);
    height: 30px;
    width: 150px;
    border-color: whitesmoke;
    font-size: 20px;
}

::placeholder{
    color:whitesmoke;
    text-align: center;
    font-style: italic;
}