*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header {
    font-size: 20px;
    margin-left: 150px;
    padding-top: 60px;

}
h2{
    font-size: 25px;
    margin-left: 153px;
    margin-top: 25px;
}

table{
    color:whitesmoke;
    margin-left: 150px;
    font-size: 25px;
    padding-top: 50px;
    display: flex;
    justify-content: left;
    text-align: center;
}
td{
    
    padding: 10px;
    background-color: rgb(31, 147, 160);
    border-radius: 5px;
}
footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    justify-content: center;
    display: grid;
}
a{
    color:whitesmoke;
    font-size: 20px;
    margin: 15px;
    border: none;
    padding: 25px;
    text-decoration: none;
    background-color: red;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px red; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
a:hover {
    background-color: #cc1818;
}
