*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header {
    font-size: 35px;
    margin-left: 150px;
    padding-top: 90px;

}
h2{
    font-size: 25px;
    margin-left: 153px;
    margin-top: 25px;
}

table{
    margin-left: 150px;
    font-size: 25px;
    padding-top: 50px;
    display: flex;
    justify-content: left;
    text-align: center;
}
td{
    padding: 10px;
    background-color: rgb(31, 147, 160);
    border-radius: 5px;
}
footer{
    width: 100%;
    position: fixed;
    justify-content: center;
    text-align: center;
    bottom: 0;
    height: 150px;
    background-color: white;
    display: grid;
}
button{
    margin: 35px;
    font-size: 25px;
    border-color: rgb(46,188,231);
    padding: 25px;
    text-decoration: none;
    background-color: rgb(46,188,231);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(46, 188, 231); 
}