*{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgray;
    padding: 0;
    margin: 0;
}
header h1{
    margin-top: 250px;
    text-align: center;
    padding: 45px;

}
body{
    display: grid;
}

footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    justify-content: center;
    display: grid;
}

a{
    margin: 15px;
    text-decoration: none;
    background-color: rgb(46,188,231);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(46, 188, 231);

}
